@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); /* Montserrat e Poppins */

@keyframes mexendo {
    0% {
        box-shadow: 0px 0px 5px 0px rgb(203, 161, 65, 0.5);
    } 
    50% {
        box-shadow: 0px 0px 10px 3px rgb(203, 161, 65, 0.5);
    }
    100% {
        box-shadow: 0px 0px 5px 0px rgb(203, 161, 65, 0.5);
    } 
}

* {
    padding: 0;
    margin: 0;
    transition: all 0.3s;
}

body {
    background-color: #121212; 

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    height: 100vh;
}

form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
}

h1 {
    font-family: "Montserrat", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;

    margin-bottom: 30px;
}

p {
    font-family: "Poppins", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    color: white;

    margin: 0;
    padding-left: 10px;
}

a {
    color: #cba141;
    transition: opacity 0.3s;
}

a:hover {
    opacity: 0.8;
}

img {
    /* border-radius: 50%; */
    height: 90px;
    width: auto;

    margin-bottom: 10px;
}

input {
    font-family: "Montserrat", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    height: 35px;
    width: 280px;
    padding: 0 10px 0 10px;
    border-radius: 15px;

    border: none;

    transition: all 0.3s;
}

input:focus {
    transform: scale(1.05);
    box-shadow: 0px 0px 10px -2px #cba141;
}

button {
    font-family: "Montserrat", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    background-color: #cba141;
    
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    margin-top: 10px;

    cursor: pointer;

    transition: all 0.3s;
}

button:hover {
    opacity: 0.8;
}

button:active {
    opacity: 0.6;
    transform: scale(0.95);
}

.box {
    background-color: #3f3e3e;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    padding: 15px 40px 40px 40px;
    border-radius: 10px;

    animation: mexendo 2s infinite;
}

@media screen and (max-width: 768px) {
    body {
        max-width: 100%;
        overflow: hidden;
        height: auto;
        margin-top: 10%;
    }

    .box {
        padding: 5px 20px 20px 20px;
    }

    button {
        font-size: 16px;
    }
}